@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 0px 100px;
  width: 100%;
}

/* HEADER SECTION  */
.navBar {
  z-index: 1000;
  position: fixed;
  padding: 0px 100px;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 5px #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
}

.logo span {
  color: #ff5500;
}

.links {
  width: 50%;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.5s;
}
.links ul li a:hover {
  color: #ff5500;
}

/* HERO SECTION  */
.heroSec {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/herobg.jpg);
  background-position: center center;
  background-size: cover;
  color: #000;
}

.heroContent {
  width: 750px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.heroProfession {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.heroButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.heroButtonsContainer button {
  width: 150px;
  height: 40px;
  background-color: #ff5500;
  color: #fff;
  border: 2px solid #ff5500;
  cursor: pointer;
  border-radius: 20px;
}

.heroButtonsContainer button:nth-child(2) {
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: #ff5500;
  border: 2px solid #ff5500;
}

/* SKILLS SECTION  */
.skillsSec {
  background-color: #ff5500;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}

.skillsSec h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.skillsGridContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsGridParent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.singleSkill {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 5px #aaa;
  width: 200px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  flex-direction: column;
}
.singleSkill:hover {
  transform: scale(1.05);
}
.singleSkill img {
  width: 90px;
  margin-bottom: 10px;
}

/* PROJECTS SECTION  */
.projectSec {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}
.projectSec h2 {
  text-align: center;
  font-size: 40px;
  color: #ff5500;
}
.projectssGridContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectssGridParent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.singleProject {
  border-radius: 10px;
  background-color: #ff5500;
  box-shadow: 0px 1px 5px #aaa;
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
}
.singleProject div {
  width: 50%;
}
.projectImage {
  width: 100%;
  transition: 0.5s;
}
.projectContent {
  padding: 0px 10px 0px 10px;
  z-index: 10;
  text-align: left;
}
.projectContent h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.projectContent p {
  font-size: 13px;
}
.projectContent div {
  margin-top: 20px;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectImageContainer {
  height: 100%;
  overflow: hidden;
}
.singleProject:hover .projectImage {
  transform: scale(1.05);
}
.projectContent div a {
  font-size: 14px;
  text-decoration: none;
  color: #040404;
  font-weight: bold;
}

/* DESIGN FOR 1024PX OR BELOW SIZE  */
@media only screen and (max-width: 1024px) {
  section {
    padding: 0px 50px;
  }
  .navBar {
    padding: 0px 50px;
  }
  .skillsGridParent {
    grid-template-columns: auto auto auto;
  }
  .singleProject {
    width: 800px;
  }
  .projectssGridParent {
    grid-template-columns: auto;
  }
}

/* DESIGN FOR 806px OR BELOW SIZE  */
@media only screen and (max-width: 806px) {
  .links ul li a {
    font-weight: 500;
  }
  .heroTitle {
    font-size: 40px;
  }
  .skillsGridParent {
    grid-template-columns: auto auto;
  }
  .singleProject {
    width: 600px;
  }
}
/* DESIGN FOR 611px OR BELOW SIZE  */
@media only screen and (max-width: 611px) {
  .heroTitle {
    font-size: 40px;
  }
  .skillsGridParent {
    grid-template-columns: auto auto;
  }
  .singleProject {
    width: 500px;
  }
  .projectContent {
    padding: 0px 5px 0px 10px;
  }
}
/* DESIGN FOR 500px OR BELOW SIZE  */
@media only screen and (max-width: 500px) {
  section {
    padding: 0px 30px;
  }
  .heroTitle {
    font-size: 35px;
  }
  .skillsGridParent {
    grid-template-columns: auto auto;
  }
  .singleProject {
    width: auto;
    height: auto;
  }
  .singleProject {
    height: fit-content;
    justify-content: center;
    align-items: end;
    flex-direction: column !important;
  }
  .singleProject div {
    width: 100%;
  }
  .projectImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
  }
  .projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    text-align: center;
    padding: 0px 10px 20px 10px;
  }
  .projectDetails {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectContent div{
    display: block;
  }
  .projectDetails h3{
    margin: 0;
  }
  .projectContent div{
    margin-top: 0;
  }
  .divLinkContainer {
    display: flex !important;
    justify-content: center !important;
    gap: 100px;
    height: 20px !important !important;
  }
}

/* DESIGN FOR 426px OR BELOW SIZE  */
@media only screen and (max-width: 426px) {
  .skillsGridParent {
    grid-template-columns: auto ;
  }
}
